
<div class="caffetos-slider">
  <%= image_tag "caffetos1.png", alt:"", title:""%>
  <%= image_tag "caffetos2.png", alt:"", title:""%>  
  <%= image_tag "slide.jpg", alt:"", title:""%>  
  <%= image_tag "slide2.jpg", alt:"", title:""%>  
  <%= image_tag "slide3.jpg", alt:"", title:""%>
	<%= image_tag "slide4.jpg", alt:"", title:""%>  
</div>  
