<!DOCTYPE html>
<html>
<head>
  <title>Caffetos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="caffetos">
  <div class="container"> 
	  <div class="row">
		  <header>
				<ul class="main-menu">
					<li class="logo"><%= link_to(image_tag("logo.png"), "/") %></li>
					<li><%= link_to "Home", "/"%></li>
					<li><%= link_to "Quienes Somos", "/about"%></li>  
					<li><%= link_to "Galería", photos_path%></li>
				</ul>
			</header>
	    <%= yield %>
	    <footer>
		    <%= image_tag "f_logo.png",  :size => '40x40', :class => "fb-logo"%>
		    <div class="fb-like" data-href="https://www.facebook.com/pages/Caffetos/208509519177979" data-send="true" data-width="450" data-show-faces="true" data-action="recommend" data-font="verdana" data-colorscheme="dark"></div>
		    <p>
			    <span>(343) 4270230</span>
			    Portal Corona 1, San Gabriel Jalisco
			  </p>
			  <p class="logout">
					<b><%= "Administrador: #{current_admin.email}" if current_admin%></b>
				  <%= link_to "Cerrar session", destroy_admin_session_path, :method => :delete if current_admin%>
			  </p>
			</footer>
	  </div>
	</div>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=380237722045821";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
